/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --alice-blue: #d9f0ffff;
    --light-sky-blue: #a3d5ffff;
    --light-sky-blue-2: #83c9f4ff;
    --medium-slate-blue: #6f73d2ff;
    --glaucous: #7681b3ff;
    --black: #070707ff;
    --violet-jtc: #553555ff;
    --eggplant: #755b69ff;
    --cambridge-blue: #96c5b0ff;
    --aquamarine: #adf1d2ff;
    --blue-black: #33415cff;
}

body {
    text-align: left;
    background-color: var(--blue-black); /* Glaucous background */
    color: white;
    max-width: 700px;
    margin: 0 auto;
}

.custom-hr {
    height: 5px;
    width: 700px;
    background-color: var(--aquamarine);
    border: none;
    margin: 0 auto;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-top: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

header {
    font-family: 'Alatsi', sans-serif;
    font-size: 2em;
    text-align: center;
    line-height: 10px;
}

nav {
    font-family: 'Alatsi', sans-serif;
    text-align: center;
}

nav a {
    color: var(--aquamarine);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

mark {
    background-color: transparent;
    color: var(--medium-slate-blue);
}

h2 {
    font-family: 'Alatsi', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: gray;
}